.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  width: 20%;
  min-width: 150px;
  background-color: #262830;

  @media only screen and (min-width: 992px) {
    width: 300px;
  }
}

.content {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  background: #131418;
}
